## IATA scrape

In [58]:
# Import necessary packages
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import lxml
import bs4.builder._lxml
# Site URL
# url="https://azcargo.cz/en/services/support/iata-airline-codes/"

url = 'https://en.wikipedia.org/wiki/List_of_airline_codes'

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse HTML code for the entire site
soup = BeautifulSoup(html_content, "html.parser")


#print(soup.prettify()) # print the parsed data of html

In [59]:
gdp = soup.find_all("table", attrs={"class": "wikitable sortable"})
print("Number of tables on site: ",len(gdp))

Number of tables on site:  1

In [60]:
table1 = gdp[0]

In [61]:
table1
body = table1.find_all("tr")
head = body[0]
body_rows = body[1:]

In [62]:
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).strip("\n|\n|\t")
    # append the clean column name to headings
    headings.append(item)
print(headings)

['IATA', 'ICAO', 'Airline', 'Call sign', 'Country/Region', 'Comments']

In [63]:
# Next is now to loop though the rest of the rows

#print(body_rows[0])
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,|\n|\t|IATA  â€“ ","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)

In [64]:
# We can now use the data on all_rowsa and headings to make a table
# all_rows becomes our data and headings the column names
df = pd.DataFrame(data=all_rows,columns=headings)
df.head()

,IATA,ICAO,Airline,Call sign,Country/Region,Comments
0,EVY,,34 Squadron Royal Australian Air Force,Australia,,None
1,,GNL,135 Airways,GENERAL,United States,
2,1A,n/a,Amadeus IT Group S.A.,n/a,Global,GDS and airline hosting system (CRS/PSS)
3,1B,n/a,Sabre travel network Asia-Pacific (ex-Abacus),n/a,APAC,Regional distribution
4,1E,n/a,Travelsky,n/a,China,Local distribution system and hosting system (...