Preprocessing data

In [29]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import fastparquet as fp
from pandas_profiling import ProfileReport
from tqdm import tqdm

In [30]:
data = pd.read_parquet('C:\\Users\\ellio\\Desktop\\Python\\scripts\\ML_flight_cancellation_prediction\\1- API_scrape_dataset_build\\1.1-full_departures.parquet.gzip')

In [31]:
os.getcwd()

'C:\\Users\\ellio\\Desktop\\Python\\scripts\\ML_flight_cancellation_prediction\\2- Preprocessing'

## Utility functions

In [40]:
def cols_to_snake(df):
    ''' function to make all column headers snake case
    
    Input: pd dataframe
    Outputs: pd dataframe with clean headers
    
    '''
        
    df.columns = df.columns.astype("str")
    df.columns = df.columns.str.lower()
    df.columns = df.columns.map(lambda x : x.replace("-", "_").replace(" ", "_").replace("/", "").replace(".", "_"))
    return df


def create_data_dict(dataframe, csv_name):
    
    """Extracts and prints a data dictionary to help with extracting and cleaning, needs manual 
    additions for variable descriptions
    
    Parameters
    ----------
    Input: dataframe: a dataframe for which you would like a dictionary
           csv_name: a 'string' which will become part of your csv file name
    
    Output: a dataframe with the variable names and data types. 
    
    Will need to manually enter in addition: data categories, variable descriptions, include (y/n)? and validations"""

    data_dict_cars = pd.DataFrame({
        "variable": list(data.columns),
        "data_type": data.dtypes,
    })
    
    data_dict_cars.to_csv(str('2-' + csv_name + '.csv'))
    
    return data_dict_cars

In [38]:
# regularise headers to snakecase
data = cols_to_snake(data)
data.head(2)

,type,status,departure_iatacode,departure_icaocode,departure_terminal,departure_scheduledtime,arrival_iatacode,arrival_icaocode,arrival_terminal,arrival_scheduledtime,...,departure_actualrunway,arrival_estimatedtime,arrival_baggage,arrival_delay,arrival_gate,arrival_actualtime,arrival_estimatedrunway,arrival_actualrunway,error,success
0,departure,unknown,lhr,egll,2,2020-05-15t06:40:00.000,arn,essa,5,2020-05-15t10:05:00.000,...,None,None,None,NaN,None,None,None,None,None,NaN
1,departure,unknown,lhr,egll,2,2020-05-15t06:40:00.000,arn,essa,5,2020-05-15t10:05:00.000,...,None,None,None,NaN,None,None,None,None,None,NaN

In [45]:
# create a data dictionary

#create_data_dict(data, 'departures_data_dict') comment this out so not to overwrite the manual adds


data_dict = pd.read_csv('2-departures_data_dict.csv')

display(data_dict)

                        variable data_type       var_type include
0                           type    object    flight_type       n
1                         status    object  flight_status       y
2             departure_iatacode    object           code       n
3             departure_icaocode    object           code       n
4             departure_terminal    object       terminal       y
5        departure_scheduledtime    object           time       y
6               arrival_iatacode    object           code       n
7               arrival_icaocode    object           code       n
8               arrival_terminal    object       terminal       y
9          arrival_scheduledtime    object           time       n
10                  airline_name    object        airline       y
11              airline_iatacode    object           code       n
12              airline_icaocode    object           code       n
13                 flight_number    object      id_number       y
14             flight_iatanumber    object      id_number       n
15             flight_icaonumber    object      id_number       n
16       codeshared_airline_name    object        airline       n
17   codeshared_airline_iatacode    object           code       n
18   codeshared_airline_icaocode    object           code       n
19      codeshared_flight_number    object      id_number       n
20  codeshared_flight_iatanumber    object      id_number       n
21  codeshared_flight_icaonumber    object      id_number       n
22                departure_gate    object           gate       y
23               departure_delay   float64           time       y
24       departure_estimatedtime    object           time       y
25          departure_actualtime    object           time       y
26     departure_estimatedrunway    object         runway       y
27        departure_actualrunway    object         runway       y
28         arrival_estimatedtime    object           time       y
29               arrival_baggage    object           bags       n
30                 arrival_delay   float64           time       y
31                  arrival_gate    object           gate       y
32            arrival_actualtime    object           time       y
33       arrival_estimatedrunway    object         runway       n
34          arrival_actualrunway    object         runway       n
35                         error    object          error       n
36                       success   float16        success       n